.venv/
.cuda/
workspace/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/

results/raw/
# results/*.jsonl
# results/*.csv
# results/*.pt
# results/*.npz

third_party/**/build/
third_party/**/*.egg-info/
third_party/**/*.so
